.jumbotron{
    background-color: beige;
    color: black;
    
}

.btn{
    background-color: aquamarine;
    color: black;
}

footer{
    background-color: beige;
    color: black;
    margin-top: 20px; 
    padding: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;

    
}